<a href="https://colab.research.google.com/github/riyadiambis/Data-Science/blob/main/Operasi_dan_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

contohnya kita akan mengambil data pekerja yang bekerja lebih dari 30 tahun di sebuah perusahaan.

In [1]:
import pandas as pd

In [3]:
from google.colab import files

uploaded = files.upload()

for filename in uploaded.keys():
    print(f'User uploaded file "{filename}" with length {len(uploaded[filename])} bytes')

Saving Human_Resources.csv to Human_Resources.csv
User uploaded file "Human_Resources.csv" with length 227886 bytes

In [5]:
sesuatu = pd.read_csv('Human_Resources.csv')
sesuatu

,Age,MonthlyIncome,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,5993.0,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,49,NaN,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,37,2090.0,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,33,2909.0,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,27,3468.0,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,2571.0,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,...,3,80,1,17,3,3,5,2,0,3
1466,39,9991.0,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,...,1,80,1,9,5,3,7,7,1,7
1467,27,6142.0,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,...,2,80,1,6,0,3,6,2,0,3
1468,49,5390.0,No,Travel_Frequently,1023,Sales,2,3,Medical,1,...,4,80,0,17,3,2,9,6,0,8
1469,34,4404.0,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,...,1,80,0,6,3,4,4,3,1,2

In [7]:
#Pilih baris tertentu yang memenuhi kriteria tertentu

karyawan_loyal=sesuatu[(sesuatu['YearsAtCompany']>=30)]
karyawan_loyal

,Age,MonthlyIncome,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
98,58,13872.0,No,Travel_Rarely,682,Sales,10,4,Medical,1,...,3,80,0,38,1,2,37,10,1,8
126,58,10312.0,Yes,Travel_Rarely,147,Research & Development,23,4,Medical,1,...,4,80,1,40,3,2,40,10,15,6
190,52,19999.0,No,Travel_Rarely,699,Research & Development,1,4,Life Sciences,1,...,1,80,1,34,5,3,33,18,11,9
237,52,19068.0,No,Non-Travel,771,Sales,2,4,Life Sciences,1,...,4,80,0,33,2,4,33,7,15,12
270,55,19045.0,No,Travel_Rarely,452,Research & Development,1,3,Medical,1,...,3,80,0,37,2,3,36,10,4,13
473,49,19502.0,No,Travel_Rarely,1245,Research & Development,18,4,Life Sciences,1,...,3,80,1,31,5,3,31,9,0,9
477,50,18200.0,No,Travel_Frequently,1246,Human Resources,3,3,Medical,1,...,3,80,1,32,2,3,32,5,10,7
561,52,16856.0,No,Travel_Rarely,621,Sales,3,4,Marketing,1,...,1,80,0,34,3,4,34,6,1,16
595,58,19246.0,Yes,Travel_Rarely,286,Research & Development,2,4,Life Sciences,1,...,4,80,0,40,2,3,31,15,13,8
653,50,17924.0,No,Non-Travel,881,Research & Development,2,4,Life Sciences,1,...,4,80,1,31,3,3,31,6,14,7
749,52,19845.0,Yes,Travel_Rarely,266,Sales,2,1,Marketing,1,...,4,80,1,33,3,3,32,14,6,9
914,55,13577.0,No,Non-Travel,177,Research & Development,8,1,Medical,1,...,4,80,1,34,3,3,33,9,15,0
962,51,14026.0,No,Travel_Rarely,770,Human Resources,5,3,Life Sciences,1,...,2,80,1,33,2,3,33,9,0,10
1086,50,14411.0,No,Travel_Frequently,333,Research & Development,22,5,Medical,1,...,4,80,0,32,2,3,32,6,13,9
1111,53,10169.0,Yes,Travel_Rarely,607,Research & Development,2,5,Technical Degree,1,...,2,80,1,34,4,3,33,7,1,9
1116,55,19586.0,No,Travel_Rarely,685,Sales,26,5,Marketing,1,...,3,80,1,36,3,3,36,6,2,13
1138,50,11245.0,No,Travel_Frequently,1234,Research & Development,20,5,Medical,1,...,3,80,1,32,3,3,30,8,12,13

In [8]:
karyawan_loyal['YearsAtCompany']

98      37
126     40
190     33
237     33
270     36
473     31
477     32
561     34
595     31
653     31
749     32
914     33
962     33
1086    32
1111    33
1116    36
1138    30
Name: YearsAtCompany, dtype: int64

Kita akan coba melihat perubahan datanya dengan menggunakan describe.

In [20]:
karyawan_loyal.describe()

,Age,MonthlyIncome,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.0,17.000000,17.000000,17.000000,17.000000,...,17.000000,17.0,17.000000,17.000000,17.000000,17.0,17.000000,17.000000,17.000000,17.000000
mean,52.941176,16287.235294,653.058824,8.823529,3.705882,1.0,882.882353,2.823529,65.764706,2.352941,...,3.058824,80.0,0.647059,34.352941,2.823529,3.0,33.352941,9.117647,7.823529,9.294118
std,3.030482,3524.710742,356.744213,9.077688,1.212678,0.0,529.130523,1.185079,23.954460,0.701888,...,1.028992,0.0,0.492592,2.871001,1.074436,0.5,2.572479,3.586125,6.085180,3.584074
min,49.000000,10169.000000,147.000000,1.000000,1.000000,1.0,131.000000,1.000000,31.000000,1.000000,...,1.000000,80.0,0.000000,31.000000,1.000000,2.0,30.000000,5.000000,0.000000,0.000000
25%,50.000000,13872.000000,333.000000,2.000000,3.000000,1.0,374.000000,2.000000,41.000000,2.000000,...,3.000000,80.0,0.000000,32.000000,2.000000,3.0,32.000000,6.000000,1.000000,8.000000
50%,52.000000,17924.000000,682.000000,3.000000,4.000000,1.0,825.000000,3.000000,65.000000,2.000000,...,3.000000,80.0,1.000000,34.000000,3.000000,3.0,33.000000,9.000000,10.000000,9.000000
75%,55.000000,19246.000000,771.000000,18.000000,4.000000,1.0,1352.000000,4.000000,84.000000,3.000000,...,4.000000,80.0,1.000000,36.000000,3.000000,3.0,34.000000,10.000000,13.000000,12.000000
max,58.000000,19999.000000,1246.000000,26.000000,5.000000,1.0,1606.000000,4.000000,99.000000,3.000000,...,4.000000,80.0,1.000000,40.000000,5.000000,4.0,40.000000,18.000000,15.000000,16.000000

In [13]:
loyal_terfilter=karyawan_loyal[(karyawan_loyal['YearsAtCompany']>=33)&(karyawan_loyal['YearsAtCompany']<=35)]
loyal_terfilter['YearsAtCompany']

190     33
237     33
561     34
914     33
962     33
1111    33
Name: YearsAtCompany, dtype: int64

In [21]:
kriteria1= sesuatu['YearsAtCompany'] >= 25
kriteria2= sesuatu['Department'] == 'Research & Development'
karyawan_mantap=sesuatu[kriteria1 & kriteria2]

karyawan_mantap

,Age,MonthlyIncome,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
62,50,18740.0,No,Travel_Rarely,989,Research & Development,7,2,Medical,1,...,4,80,1,29,2,2,27,3,13,8
126,58,10312.0,Yes,Travel_Rarely,147,Research & Development,23,4,Medical,1,...,4,80,1,40,3,2,40,10,15,6
190,52,19999.0,No,Travel_Rarely,699,Research & Development,1,4,Life Sciences,1,...,1,80,1,34,5,3,33,18,11,9
270,55,19045.0,No,Travel_Rarely,452,Research & Development,1,3,Medical,1,...,3,80,0,37,2,3,36,10,4,13
390,43,14336.0,No,Travel_Rarely,982,Research & Development,12,3,Life Sciences,1,...,3,80,1,25,3,3,25,10,3,9
411,60,19566.0,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,...,4,80,0,33,5,1,29,8,11,10
425,50,17046.0,No,Travel_Rarely,1099,Research & Development,29,4,Life Sciences,1,...,2,80,1,28,2,3,27,10,15,7
473,49,19502.0,No,Travel_Rarely,1245,Research & Development,18,4,Life Sciences,1,...,3,80,1,31,5,3,31,9,0,9
592,47,16752.0,No,Travel_Rarely,202,Research & Development,2,2,Other,1,...,3,80,1,26,3,2,26,14,3,0
595,58,19246.0,Yes,Travel_Rarely,286,Research & Development,2,4,Life Sciences,1,...,4,80,0,40,2,3,31,15,13,8
653,50,17924.0,No,Non-Travel,881,Research & Development,2,4,Life Sciences,1,...,4,80,1,31,3,3,31,6,14,7
677,49,7403.0,No,Travel_Rarely,527,Research & Development,8,2,Other,1,...,3,80,1,29,3,2,26,9,1,7
914,55,13577.0,No,Non-Travel,177,Research & Development,8,1,Medical,1,...,4,80,1,34,3,3,33,9,15,0
922,44,19190.0,No,Travel_Rarely,1199,Research & Development,4,2,Life Sciences,1,...,4,80,2,26,4,2,25,9,14,13
1086,50,14411.0,No,Travel_Frequently,333,Research & Development,22,5,Medical,1,...,4,80,0,32,2,3,32,6,13,9
1111,53,10169.0,Yes,Travel_Rarely,607,Research & Development,2,5,Technical Degree,1,...,2,80,1,34,4,3,33,7,1,9
1138,50,11245.0,No,Travel_Frequently,1234,Research & Development,20,5,Medical,1,...,3,80,1,32,3,3,30,8,12,13

Selanjutnya apabila menginginkan 2 atau lebih kriteria, sebelumnya sebetulnya udah praktekin 2 syarat tapi ini ada cara lebih mudahnya

In [22]:
karyawan_mantap.describe( )

,Age,MonthlyIncome,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.0,17.000000,17.000000,17.000000,17.000000,...,17.000000,17.0,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,51.352941,15791.941176,675.352941,9.882353,3.352941,1.0,819.470588,2.647059,63.411765,2.529412,...,3.235294,80.0,0.823529,31.823529,3.176471,2.588235,30.294118,9.470588,9.294118,8.058824
std,4.716211,4008.796413,394.228351,9.089021,1.221739,0.0,493.805265,1.169464,23.690871,0.717430,...,0.903425,0.0,0.528594,4.489367,1.074436,0.618347,4.104338,3.555236,5.742002,3.699165
min,43.000000,7403.000000,147.000000,1.000000,1.000000,1.0,80.000000,1.000000,31.000000,1.000000,...,1.000000,80.0,0.000000,25.000000,2.000000,1.000000,25.000000,3.000000,0.000000,0.000000
25%,49.000000,13577.000000,333.000000,2.000000,2.000000,1.0,520.000000,2.000000,41.000000,2.000000,...,3.000000,80.0,1.000000,29.000000,2.000000,2.000000,27.000000,8.000000,3.000000,7.000000
50%,50.000000,17046.000000,607.000000,7.000000,4.000000,1.0,820.000000,3.000000,59.000000,3.000000,...,3.000000,80.0,1.000000,32.000000,3.000000,3.000000,31.000000,9.000000,12.000000,9.000000
75%,55.000000,19190.000000,989.000000,18.000000,4.000000,1.0,1278.000000,4.000000,88.000000,3.000000,...,4.000000,80.0,1.000000,34.000000,4.000000,3.000000,33.000000,10.000000,14.000000,9.000000
max,60.000000,19999.000000,1245.000000,29.000000,5.000000,1.0,1606.000000,4.000000,98.000000,4.000000,...,4.000000,80.0,2.000000,40.000000,5.000000,3.000000,40.000000,18.000000,15.000000,13.000000