In [2]:
'''Import Pandas'''
import pandas as pd

In [34]:
'''Memaksa Pandas untuk menampilkan semua Baris'''
pd.options.display.max_columns=None
pd.options.display.max_rows=None

In [13]:
'''Membaca file csv'''
data= pd.read_csv('Human_Resources.csv')

data

      Age  MonthlyIncome Attrition     BusinessTravel  DailyRate  \
0      41         5993.0       Yes      Travel_Rarely       1102
1      49            NaN        No  Travel_Frequently        279
2      37         2090.0       Yes      Travel_Rarely       1373
3      33         2909.0        No  Travel_Frequently       1392
4      27         3468.0        No      Travel_Rarely        591
5      32         3068.0        No  Travel_Frequently       1005
6      59            NaN        No      Travel_Rarely       1324
7      30         2693.0        No      Travel_Rarely       1358
8      38         9526.0        No  Travel_Frequently        216
9      36         5237.0        No      Travel_Rarely       1299
10     35         2426.0        No      Travel_Rarely        809
11     29         4193.0        No      Travel_Rarely        153
12     31         2911.0        No      Travel_Rarely        670
13     34         2661.0        No      Travel_Rarely       1346
14     28         2028.0       Yes      Travel_Rarely        103
15     29         9980.0        No      Travel_Rarely       1389
16     32         3298.0        No      Travel_Rarely        334
17     22         2935.0        No         Non-Travel       1123
18     53        15427.0        No      Travel_Rarely       1219
19     38         3944.0        No      Travel_Rarely        371
20     24         4011.0        No         Non-Travel        673
21     36         3407.0       Yes      Travel_Rarely       1218
22     34        11994.0        No      Travel_Rarely        419
23     21         1232.0        No      Travel_Rarely        391
24     34         2960.0       Yes      Travel_Rarely        699
25     53        19094.0        No      Travel_Rarely       1282
26     32         3919.0       Yes  Travel_Frequently       1125
27     42         6825.0        No      Travel_Rarely        691
28     44        10248.0        No      Travel_Rarely        477
29     46        18947.0        No      Travel_Rarely        705
30     33         2496.0        No      Travel_Rarely        924
31     44         6465.0        No      Travel_Rarely       1459
32     30         2206.0        No      Travel_Rarely        125
33     39         2086.0       Yes      Travel_Rarely        895
34     24         2293.0       Yes      Travel_Rarely        813
35     43         2645.0        No      Travel_Rarely       1273
36     50         2683.0       Yes      Travel_Rarely        869
37     35         2014.0        No      Travel_Rarely        890
38     36         3419.0        No      Travel_Rarely        852
39     33         5376.0        No  Travel_Frequently       1141
40     35         1951.0        No      Travel_Rarely        464
41     27         2341.0        No      Travel_Rarely       1240
42     26         2293.0       Yes      Travel_Rarely       1357
43     27         8726.0        No  Travel_Frequently        994
44     30         4011.0        No  Travel_Frequently        721
45     41        19545.0       Yes      Travel_Rarely       1360
46     34         4568.0        No         Non-Travel       1065
47     37         3022.0        No      Travel_Rarely        408
48     46         5772.0        No  Travel_Frequently       1211
49     35         2269.0        No      Travel_Rarely       1229
50     48         5381.0       Yes      Travel_Rarely        626
51     28         3441.0       Yes      Travel_Rarely       1434
52     44         5454.0        No      Travel_Rarely       1488
53     35         9884.0        No         Non-Travel       1097
54     26         4157.0        No      Travel_Rarely       1443
55     33        13458.0        No  Travel_Frequently        515
56     35         9069.0        No  Travel_Frequently        853
57     35         4014.0        No      Travel_Rarely       1142
58     31         5915.0        No      Travel_Rarely        655
59     37         5993.0        No      Travel_Rarely       1115
60     32         6162.0        No      Travel_Rarely        427
61     38         2406.0        No  Travel_Frequently        653
62     50        18740.0        No      Travel_Rarely        989
63     59         7637.0        No      Travel_Rarely       1435
64     36        10096.0        No      Travel_Rarely       1223
65     55        14756.0        No      Travel_Rarely        836
66     36         6499.0        No  Travel_Frequently       1195
67     45         9724.0        No      Travel_Rarely       1339
68     35         2194.0        No  Travel_Frequently        664
69     36         3388.0       Yes      Travel_Rarely        318
70     59         5473.0        No  Travel_Frequently       1225
71     29         2703.0        No      Travel_Rarely       1328
72     31         2501.0        No      Travel_Rarely       1082
73     32         6220.0        No      Travel_Rarely        548
74     36         3038.0        No      Travel_Rarely        132
75     31         4424.0        No      Travel_Rarely        746
76     35         4312.0        No      Travel_Rarely        776
77     45        13245.0        No      Travel_Rarely        193
78     37        13664.0        No      Travel_Rarely        397
79     46         5021.0        No      Travel_Rarely        945
80     30         5126.0        No      Travel_Rarely        852
81     35         2859.0        No      Travel_Rarely       1214
82     55        10239.0        No      Travel_Rarely        111
83     38         5329.0        No         Non-Travel        573
84     34         4325.0        No      Travel_Rarely       1153
85     56         7260.0        No      Travel_Rarely       1400
86     23         2322.0        No      Travel_Rarely        541
87     51         2075.0        No      Travel_Rarely        432
88     30         4152.0        No      Travel_Rarely        288
89     46         9619.0       Yes      Travel_Rarely        669
90     40        13503.0        No  Travel_Frequently        530
91     51         5441.0        No      Travel_Rarely        632
92     30         5209.0        No      Travel_Rarely       1334
93     46        10673.0        No  Travel_Frequently        638
94     32         5010.0        No      Travel_Rarely       1093
95     54        13549.0        No      Travel_Rarely       1217
96     24         4999.0        No      Travel_Rarely       1353
97     28         4221.0        No         Non-Travel        120
98     58        13872.0        No      Travel_Rarely        682
99     44         2042.0        No         Non-Travel        489
100    37         2073.0       Yes      Travel_Rarely        807
101    32         2956.0        No      Travel_Rarely        827
102    20         2926.0       Yes  Travel_Frequently        871
103    34         4809.0        No      Travel_Rarely        665
104    37         5163.0        No         Non-Travel       1040
105    59        18844.0        No         Non-Travel       1420
106    50        18172.0        No  Travel_Frequently       1115
107    25         5744.0       Yes      Travel_Rarely        240
108    25         2889.0        No      Travel_Rarely       1280
109    22         2871.0        No      Travel_Rarely        534
110    51         7484.0        No  Travel_Frequently       1456
111    34         6074.0       Yes  Travel_Frequently        658
112    54        17328.0        No         Non-Travel        142
113    24         2774.0        No      Travel_Rarely       1127
114    34         4505.0        No      Travel_Rarely       1031
115    37         7428.0        No      Travel_Rarely       1189
116    34        11631.0        No      Travel_Rarely       1354
117    36         9738.0        No  Travel_Frequently       1467
118    36         2835.0        No      Travel_Rarely        922
119    43        16959.0        No  Travel_Frequently        394
120    30         2613.0        No  Travel_Frequently       1312
121    33         6146.0        No         Non-Travel        750
122    56         4963.0       Yes      Travel_Rarely        441
123    51        19537.0        No      Travel_Rarely        684
124    31         6172.0       Yes      Travel_Rarely        249
125    26         2368.0        No      Travel_Rarely        841
126    58        10312.0       Yes      Travel_Rarely        147
127    19         1675.0       Yes      Travel_Rarely        528
128    22         2523.0        No      Travel_Rarely        594
129    49         6567.0        No      Travel_Rarely        470
130    43         4739.0        No  Travel_Frequently        957
131    50         9208.0        No  Travel_Frequently        809
132    31         4559.0       Yes      Travel_Rarely        542
133    41         8189.0        No      Travel_Rarely        802
134    26         2942.0        No      Travel_Rarely       1355
135    36         4941.0        No      Travel_Rarely        216
136    51        10650.0       Yes  Travel_Frequently       1150
137    39         5902.0        No      Travel_Rarely       1329
138    25         8639.0        No      Travel_Rarely        959
139    30         6347.0        No      Travel_Rarely       1240
140    32         4200.0       Yes      Travel_Rarely       1033
141    45         3452.0        No      Travel_Rarely       1316
142    38         4317.0        No      Travel_Rarely        364
143    30         2632.0        No      Travel_Rarely        438
144    32         4668.0        No  Travel_Frequently        689
145    30         3204.0        No      Travel_Rarely        201
146    30         2720.0        No      Travel_Rarely       1427
147    41        17181.0        No  Travel_Frequently        857
148    41         2238.0        No      Travel_Rarely        933
149    19         1483.0        No      Travel_Rarely       1181
150    40         5605.0        No  Travel_Frequently       1395
151    35         7295.0        No      Travel_Rarely        662
152    53         2306.0        No      Travel_Rarely       1436
153    45         2348.0        No      Travel_Rarely        194
154    32         8998.0        No  Travel_Frequently        967
155    29         4319.0        No         Non-Travel       1496
156    51         6132.0        No      Travel_Rarely       1169
157    58         3346.0        No      Travel_Rarely       1145
158    40        10855.0        No      Travel_Rarely        630
159    34         2231.0        No  Travel_Frequently        303
160    22         2323.0        No      Travel_Rarely       1256
161    27         2024.0        No         Non-Travel        691
162    28         2713.0        No      Travel_Rarely        440
163    57         9439.0        No      Travel_Rarely        334
164    27         2566.0        No         Non-Travel       1450
165    50        19926.0        No      Travel_Rarely       1452
166    41         2451.0        No      Travel_Rarely        465
167    30         9419.0        No      Travel_Rarely       1339
168    38         8686.0        No      Travel_Rarely        702
169    32         3038.0        No      Travel_Rarely        120
170    27         3058.0        No      Travel_Rarely       1157
171    19         2325.0       Yes  Travel_Frequently        602
172    36         2088.0        No  Travel_Frequently       1480
173    30         3072.0        No         Non-Travel        111
174    45         5006.0        No      Travel_Rarely       1268
175    56         4257.0        No      Travel_Rarely        713
176    33         2500.0        No      Travel_Rarely        134
177    19         1102.0       Yes      Travel_Rarely        303
178    46        10453.0        No      Travel_Rarely        526
179    38         2288.0        No      Travel_Rarely       1380
180    31         3929.0        No      Travel_Rarely        140
181    34         2311.0        No      Travel_Rarely        629
182    41         3140.0       Yes      Travel_Rarely       1356
183    50         3690.0        No      Travel_Rarely        328
184    53         4450.0        No      Travel_Rarely       1084
185    33         2756.0        No      Travel_Rarely        931
186    40        19033.0        No      Travel_Rarely        989
187    55        18722.0        No      Travel_Rarely        692
188    34         9547.0        No  Travel_Frequently       1069
189    51        13734.0        No      Travel_Rarely        313
190    52        19999.0        No      Travel_Rarely        699
191    27         2279.0        No      Travel_Rarely        894
192    35         5916.0       Yes      Travel_Rarely        556
193    43         2089.0        No         Non-Travel       1344
194    45        16792.0        No         Non-Travel       1195
195    37         3564.0        No      Travel_Rarely        290
196    35         4425.0        No  Travel_Frequently        138
197    42         5265.0        No         Non-Travel        926
198    38         6553.0        No      Travel_Rarely       1261
199    38         6261.0        No      Travel_Rarely       1084
200    27         4298.0        No  Travel_Frequently        472
201    49         6804.0        No         Non-Travel       1002
202    34         3815.0        No  Travel_Frequently        878
203    40         2741.0        No      Travel_Rarely        905
204    38         6673.0       Yes      Travel_Rarely       1180
205    29         7639.0       Yes      Travel_Rarely        121
206    22         2328.0        No      Travel_Rarely       1136
207    36         2153.0        No  Travel_Frequently        635
208    40         4876.0        No         Non-Travel       1151
209    46         9396.0        No      Travel_Rarely        644
210    32        10400.0       Yes      Travel_Rarely       1045
211    30         8474.0        No         Non-Travel        829
212    27         9981.0        No  Travel_Frequently       1242
213    51        12490.0        No      Travel_Rarely       1469
214    30         2657.0       Yes      Travel_Rarely       1005
215    41        13591.0        No      Travel_Rarely        896
216    30         6696.0       Yes  Travel_Frequently        334
217    29         2058.0       Yes      Travel_Rarely        992
218    45         8865.0        No         Non-Travel       1052
219    54         5940.0        No      Travel_Rarely       1147
220    36         5914.0        No      Travel_Rarely       1396
221    33         2622.0        No      Travel_Rarely        147
222    37        12185.0        No  Travel_Frequently        663
223    38        10609.0        No      Travel_Rarely        119
224    31         4345.0        No         Non-Travel        979
225    59         2177.0        No      Travel_Rarely        142
226    37         2793.0        No  Travel_Frequently        319
227    29         7918.0        No  Travel_Frequently       1413
228    35         8789.0        No  Travel_Frequently        944
229    29         2389.0       Yes      Travel_Rarely        896
230    52         3212.0        No      Travel_Rarely       1323
231    42        19232.0        No      Travel_Rarely        532
232    59         2267.0        No      Travel_Rarely        818
233    50        19517.0        No      Travel_Rarely        854
234    33         2436.0       Yes      Travel_Rarely        813
235    43        16064.0        No      Travel_Rarely       1034
236    33         2707.0       Yes      Travel_Rarely        465
237    52        19068.0        No         Non-Travel        771
238    32         3931.0        No      Travel_Rarely       1401
239    32         3730.0       Yes      Travel_Rarely        515
240    39         2232.0        No      Travel_Rarely       1431
241    32         4465.0        No         Non-Travel        976
242    41         3072.0        No      Travel_Rarely       1411
243    40         3319.0        No      Travel_Rarely       1300
244    45        19202.0        No      Travel_Rarely        252
245    31        13675.0        No  Travel_Frequently       1327
246    33         2911.0        No      Travel_Rarely        832
247    34         5957.0        No      Travel_Rarely        470
248    37         3920.0        No      Travel_Rarely       1017
249    45         6434.0        No  Travel_Frequently       1199
250    37        10048.0       Yes  Travel_Frequently        504
251    39        10938.0        No  Travel_Frequently        505
252    29         2340.0        No      Travel_Rarely        665
253    42         6545.0        No      Travel_Rarely        916
254    29         6931.0        No      Travel_Rarely       1247
255    25         4898.0        No      Travel_Rarely        685
256    42         2593.0        No      Travel_Rarely        269
257    40        19436.0        No      Travel_Rarely       1416
258    51         2723.0        No      Travel_Rarely        833
259    31         3479.0       Yes  Travel_Frequently        307
260    32         2794.0        No  Travel_Frequently       1311
261    38         5249.0        No         Non-Travel       1327
262    32         2176.0        No      Travel_Rarely        128
263    46        16872.0        No      Travel_Rarely        488
264    28         3485.0       Yes      Travel_Rarely        529
265    29         6644.0        No      Travel_Rarely       1210
266    31         5582.0        No      Travel_Rarely       1463
267    25         4000.0        No         Non-Travel        675
268    45        13496.0        No      Travel_Rarely       1385
269    36         3210.0        No      Travel_Rarely       1403
270    55        19045.0        No      Travel_Rarely        452
271    47        11849.0       Yes         Non-Travel        666
272    28         2070.0        No      Travel_Rarely       1158
273    37         6502.0        No      Travel_Rarely        228
274    21         3230.0        No      Travel_Rarely        996
275    37        13603.0        No         Non-Travel        728
276    35        11996.0        No      Travel_Rarely       1315
277    38         5605.0        No      Travel_Rarely        322
278    26         6397.0        No  Travel_Frequently       1479
279    50        19144.0        No      Travel_Rarely        797
280    53        17584.0        No      Travel_Rarely       1070
281    42         4907.0        No      Travel_Rarely        635
282    29         4554.0        No  Travel_Frequently        442
283    55         5415.0        No      Travel_Rarely        147
284    26         4741.0        No  Travel_Frequently        496
285    37         2115.0        No      Travel_Rarely       1372
286    44         3161.0       Yes  Travel_Frequently        920
287    38         5745.0        No      Travel_Rarely        688
288    26         2373.0       Yes      Travel_Rarely       1449
289    28         3310.0        No      Travel_Rarely       1117
290    49        18665.0        No  Travel_Frequently        636
291    36         4485.0        No      Travel_Rarely        506
292    31         2789.0        No  Travel_Frequently        444
293    26         5828.0       Yes      Travel_Rarely        950
294    37         2326.0        No  Travel_Frequently        889
295    42        13525.0        No  Travel_Frequently        555
296    18         1420.0       Yes      Travel_Rarely        230
297    35         8020.0        No      Travel_Rarely       1232
298    36         3688.0        No  Travel_Frequently        566
299    51         5482.0        No      Travel_Rarely       1302
300    41        16015.0        No      Travel_Rarely        334
301    18         1200.0        No      Travel_Rarely        812
302    28         5661.0        No      Travel_Rarely       1476
303    31         6929.0        No      Travel_Rarely        218
304    39         9613.0        No      Travel_Rarely       1132
305    36         5674.0        No         Non-Travel       1105

In [24]:
'''Cek tipe data'''
type(data)

pandas.core.frame.DataFrame

In [25]:
'''Melihat beberapa baris pertama menggunakan [.head()]'''

data.head(3)

,Age,MonthlyIncome,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,5993.0,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1.0,2,Female,94,3,2,Sales Executive,4,Single,19479.0,8,Y,Yes,11.0,3.0,1,80,0,8,0,1,6,4,0,5
1,49,NaN,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2.0,3,Male,61,2,2,Research Scientist,2,Married,24907.0,1,Y,No,23.0,4.0,4,80,1,10,3,3,10,7,1,7
2,37,2090.0,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4.0,4,Male,92,2,1,Laboratory Technician,3,Single,2396.0,6,Y,Yes,15.0,3.0,2,80,0,7,3,3,0,0,0,0

In [26]:
'''Melihat baris terakhir menggunakan [.tall()]'''
data.tail(4)

,Age,MonthlyIncome,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1466,39,9991.0,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062.0,4,Male,42,2,3,Healthcare Representative,1,Married,21457.0,4,Y,No,15.0,3.0,1,80,1,9,5,3,7,7,1,7
1467,27,6142.0,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064.0,2,Male,87,4,2,Manufacturing Director,2,Married,5174.0,1,Y,Yes,20.0,4.0,2,80,1,6,0,3,6,2,0,3
1468,49,5390.0,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065.0,4,Male,63,2,2,Sales Executive,2,Married,13243.0,2,Y,No,14.0,3.0,4,80,0,17,3,2,9,6,0,8
1469,34,4404.0,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068.0,2,Male,82,4,2,Laboratory Technician,3,Married,10228.0,2,Y,No,12.0,3.0,1,80,0,6,3,4,4,3,1,2

In [31]:
'''Menghitung nilai rata-rata [numeric_only=True] dapat mengatasi error'''


data.mean(numeric_only=True)

Age                            36.923810
MonthlyIncome                6505.155419
DailyRate                     802.485714
DistanceFromHome                9.192517
Education                       2.912925
EmployeeCount                   1.000000
EmployeeNumber               1025.556161
EnvironmentSatisfaction         2.721769
HourlyRate                     65.891156
JobInvolvement                  2.729932
JobLevel                        2.063946
JobSatisfaction                 2.728571
MonthlyRate                 14310.966621
NumCompaniesWorked              2.693197
PercentSalaryHike              15.206263
PerformanceRating               3.153165
RelationshipSatisfaction        2.712245
StandardHours                  80.000000
StockOptionLevel                0.793878
TotalWorkingYears              11.279592
TrainingTimesLastYear           2.799320
WorkLifeBalance                 2.761224
YearsAtCompany                  7.008163
YearsInCurrentRole              4.229252
YearsSinceLastPromotion         2.187755
YearsWithCurrManager            4.123129
dtype: float64

In [45]:
'''Menampilkan informasi semua kolom dalam data'''
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   MonthlyIncome             1467 non-null   float64
 2   Attrition                 1470 non-null   object
 3   BusinessTravel            1470 non-null   object
 4   DailyRate                 1470 non-null   int64
 5   Department                1469 non-null   object
 6   DistanceFromHome          1470 non-null   int64
 7   Education                 1470 non-null   int64
 8   EducationField            1469 non-null   object
 9   EmployeeCount             1470 non-null   int64
 10  EmployeeNumber            1469 non-null   float64
 11  EnvironmentSatisfaction   1470 non-null   int64
 12  Gender                    1469 non-null   object
 13  HourlyRate                1470 non-null   int64
 14  JobInvolvement            1470 non-null   int64
 15  JobLevel                  1470 non-null   int64
 16  JobRole                   1469 non-null   object
 17  JobSatisfaction           1470 non-null   int64
 18  MaritalStatus             1469 non-null   object
 19  MonthlyRate               1468 non-null   float64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1469 non-null   float64
 24  PerformanceRating         1469 non-null   float64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(5), int64(21), object(9)
memory usage: 402.1+ KB

In [46]:
'''Mendapatkan ringkasan statistik'''

data.describe()

,Age,MonthlyIncome,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1467.000000,1470.000000,1470.000000,1470.000000,1470.0,1469.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1468.000000,1470.000000,1469.000000,1469.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,6505.155419,802.485714,9.192517,2.912925,1.0,1025.556161,2.721769,65.891156,2.729932,2.063946,2.728571,14310.966621,2.693197,15.206263,3.153165,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,4711.297846,403.509100,8.106864,1.024165,0.0,601.646166,1.093082,20.329428,0.711561,1.106940,1.102846,7121.294449,2.498009,3.659047,0.360270,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,1009.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,2094.000000,0.000000,11.000000,3.000000,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2911.000000,465.000000,2.000000,2.000000,1.0,492.000000,2.000000,48.000000,2.000000,1.000000,2.000000,8043.750000,1.000000,12.000000,3.000000,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,4908.000000,802.000000,7.000000,3.000000,1.0,1022.000000,3.000000,66.000000,3.000000,2.000000,3.000000,14235.500000,2.000000,14.000000,3.000000,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,8378.000000,1157.000000,14.000000,4.000000,1.0,1556.000000,4.000000,83.750000,3.000000,3.000000,4.000000,20463.250000,4.000000,18.000000,3.000000,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,19999.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,4.000000,26999.000000,9.000000,25.000000,4.000000,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000